<h1>Albums</h1>

<% if flash[:error].present? %>
  <%= flash[:error] %>
<% end %>

<%= simple_form_for Album.new do |f| %>
  <%= f.input :title %>
  <%= f.input :artist %>
  <br />
  <%= f.submit "Submit" %>
<% end %>

<h2><%= @album.artist %> - <%= @album.title %></h2>
